.bg-color-orange {
    color: var(--bg-white);
    background-color: #006697;
}
.bg-color-roxo {
    color: var(--bg-white);
    background-color: var(--bg-roxo);
}

.bg-color-azul {
    color: var(--bg-azul);
    background-color: var(--bg-white);
}