/* Background navbar */
.bg-orange {
    color: #006697;
    background-color: #006697;
}
/* Button navbar */
.bg-orange .container .navbar-brand {
    color: #006697;
    background-color: #006697;
}
.bg-orange .container .navbar-toggler {
    color: #006697;
    background-color: #006697;
}
.bg-orange .container .navbar-toggler .navbar-toggler-icon {
    color: #006697;
    background-color: #006697;
}
.bg-orange .container .navbar-collapse .navbar-nav .nav-item:hover {
    color: #006697;
    background-color: #006697;
}
.bg-orange .container .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #006697;
    background-color: #006697;
}

/* .snow */
/* .bg-orange .container .collapse {
    min-height: 100vh;
} */